---
---

html {
  height: 100%;
  font-family: futura-pt, sans-serif;
}

body {
  background: #222;
  color: white;
  font-family: futura-pt, sans-serif;
}



video {
  overflow: hidden;
  position: absolute;
  height: 56.25%;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);

}

.main-container {
  min-height: 100%;
  position: relative;
  /*overflow: hidden;*/
  background: #000;
}

.video-container {
  position: relative;
}

#clicktargetcontainer {
  min-height: 100%;
  /*overflow: hidden;*/
  height: 100%;
}


#clicktargetcontainer::after {
  background: linear-gradient(to top, rgba(0,0,0,0) 80%, rgba(0,0,0,.3));
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8000;
}



#location-header {
  text-transform: uppercase;
  font-size: 30pt;
  color: white ;
  z-index: 9000;
  position: fixed;
  margin-top: 0px;
  margin-bottom: auto;
  text-align: center;
  display: block;
  width: 100%;
}
